@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url("../img/01-PLAYCE-PALMERAIE-RCI-1536x1024.jpg");
    background-repeat: no-repeat;
}
/* popup */

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    background-color: #ffffff;
    height: 90%;
    width: 10%;
    padding: 10px 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 50px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    background: transparent;
}
.popup button{
    display: block;
    margin-left:1200px;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
    color:black;
    position: relative;
    left: -90px;
    top: -20px;
    
}
.popup video{
    height: 540px;
    width: 1000px;
    border-radius: 20px;
    position: relative;
    top: -30px;
}

/* close popup */

section
{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section  .formBx
{
    width: 60%;
    position: relative;
    left: 140px;
}
section  .formBx .inputBx
{
    margin-bottom: 20px;
}
section .formBx .inputBx input
{
    width: 60%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 2.5px solid #000000;
    font-size: 16px;
    letter-spacing: 1px;
    color: #0a0c0e;
    background: transparent;
    border-radius: 20px;
}
section  .formBx .inputBx input[type="submit"]
{
    background: #15a5ea;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section  .formBx .inputBx input[type="submit"]:hover
{
    background: #1cbbe3;
}
marquee {
    background-color: lightgray;
    color: black;
    position: fixed;
    /* top: 70px; */
    bottom: 0;
}
@media only screen and (max-width: 768px)
{
    section .contentBx 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx 
    {
        width: 100%;
        padding: 40px;
        background: rgb(255, 255, 255 / 0.9);
        margin: 50px;
    }
    section .contentBx .formBx h3
    {
        color: #0a0c0e;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
    section .formBx .inputBx {
        padding: 2px;
    }
}
@media only screen and (max-width: 449px)
{
    section .contentBx 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx 
    {
        width: 30%;
        padding: 40px;
        background: rgb(255, 255, 255 / 0.9);
        margin: 50px;
    }
    section .contentBx .formBx h3
    {
        color: #0a0c0e;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
    section .formBx .inputBx {
        padding: 2px;
        width: 350px;
    }
    section .formBx .inputBx input{
        padding-left: 30px;
        width: 250px;
    }
    .popup{
        background-color: #ffffff;
        width: 449px;
        padding: 30px 40px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        font-family: "Poppins",sans-serif;
        display: none;
        text-align: center;
    }
    video{
        height: 50%;
    }
}
@media only screen and (max-width: 414px)
{
    .popup{
        background-color: #ffffff;
        height: 10%;
        width: 10%;
        padding: 10px 10px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 50px;
        font-family: "Poppins",sans-serif;
        display: none;
        text-align: center;
        background: transparent;
    }
    .popup button{
        display: block;
        margin-left:12px;
        background-color: transparent;
        font-size: 30px;
        color: #c5c5c5;
        border: none;
        outline: none;
        cursor: pointer;
        color:black;
        position: relative;
       
    }
    .popup video{
       
        object-fit: cover;
        border-radius: 2px;
        position: relative;
        width: 20%;
        height: 30%;
    }

    section
    {
        position: relative;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section  .formBx
    {
        width: 60%;
        position: relative;
        left: 140px;
    }
    section  .formBx .inputBx
    {
        margin-bottom: 20px;
    }
    section .formBx .inputBx input
    {
        width: 60%;
        padding: 10px 20px;
        outline: none;
        font-weight: 400;
        border: 2.5px solid #000000;
        font-size: 16px;
        letter-spacing: 1px;
        color: #0a0c0e;
        background: transparent;
        border-radius: 20px;
    }
    section  .formBx .inputBx input[type="submit"]
    {
        background: #15a5ea;
        color: #fff;
        outline: none;
        border: none;
        font-weight: 500;
        cursor: pointer;
    }
    section  .formBx .inputBx input[type="submit"]:hover
    {
        background: #1cbbe3;
    }
    marquee{
        background-color: lightgray;
        color: black;
        position: absolute;
    
    }
}
@media screen and (min-width: 80rem) {
    .section {
      margin: 1em 2em;
    }
  }
  